@page "/issue"
@inject HttpClient Http
@inject ApiDAO ApiDAO
@rendermode InteractiveServer

<PageTitle>Insert Issue</PageTitle>

<h1>Insert Issue</h1>

<form>
    <label for="title">Title: </label>
    <input id="title" @bind="_issue.title"/>
    <label for="body">Body: </label>
    <input id="body" @bind="_issue.body"/>
    <label for="labels">Labels: </label>
    <input id="labels" @bind="_issue.labels"/>

    <button class="btn btn-success" @onclick="InsertIssueAsync" type="button">Insert Issue</button>
</form>

@code {
    private readonly IssueModel _issue = new IssueModel();

    private async Task InsertIssueAsync()
    {
        await ApiDAO.InsertIssueAsync(_issue);
    }
}