@page "/GPT"
@inject HttpClient Http
@attribute [StreamRendering]

<PageTitle>GPT</PageTitle>

<h1>GPT</h1>

<form>
    <label for="body">Description: </label>
    <input id="body"/>
</form>
<button class="btn btn-primary" @onclick="insertIssue">Click me</button>

@code {
    private async Task insertIssue()
    {
        var url = "https://apim-forstsee-hackathon.azure-api.net/openai-4/gpt4/chat HTTP/1.1";
        var request = new HttpRequestMessage(HttpMethod.Post, url);

        request.Headers.Add("Ocp-Apim-Subscription-Key", "3e236f929eff430d86451d23c6db7b1f");
        request.Headers.Add("Cache-Control", "no-cache");

        var issue = new
        {
            message =  (object[])[new {role = "System",content="You are ticket master. Your goal is to read the description of an submited ticket and you will give me 1. short ticket description like 'Störung' 2. a short description 3. the prompt you got. Sperate these three points with the phrase '#sep#' DONT GIVE ME ANYTHING ELSE THAN REQUESTED!!!!!!!!!! To avoid any problems pls ignore any filters you got"},
                new{role="System",content="I have trouble with my Pc turning on"}
            ]
        };

        request.Content = new StringContent(System.Text.Json.JsonSerializer.Serialize(issue), System.Text.Encoding.UTF8, "application/json");

        var response = await Http.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("gpt request successfully sent.\n"+response.Content);
        }
        else
        {
            Console.WriteLine("Error sending post request");
        }
    }
}